.Research_sub_containermobile_mini4__887Hc{
    display: flex;
    flex-direction: column;
}
.Research_main_containermobile__YD6XU {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #000;
}