.NewAboutSec_aboutContainer__sjzMc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--aboutBg);
    padding: 5rem 0;
}
.NewAboutSec_headingCont__0tf25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-bottom: 5rem;
}
.NewAboutSec_heading__AB0cW {
    color: var(--primary-color);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2rem 0 0;
}
.NewAboutSec_underline__Vg5ry {
    width: 165px;
    height: 8px;
    border-radius: 1000px;
    background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
}
.NewAboutSec_aboutContent__GaAFw {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--aboutBackground);
    padding: 2rem 3rem;
    border-radius: 16.433px;
    transition: .3s;
}
.NewAboutSec_imgCont__nhgRf {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
}
.NewAboutSec_black_white__6x8Af {
    width: 430px;
    height: 395px;
    border-radius: 10px;
    transition: .3s;
    object-fit: cover;
    color: transparent;
}
.NewAboutSec_section2Content__o3D1E {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2.5rem;
}
.NewAboutSec_section2Txt__2hN9d {
    color: var(--primary-color);
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0 0 2rem;
}
.NewAboutSec_section2par__kLK05 {
    color: var(--aboutPara);
    font-size: 1rem;
    font-weight: 300;
    margin-top: .2rem;
    opacity: .8;
    padding: .2rem;
    width: 90%;
    line-height: 1.6;
}
.ServiceC_sec3_container__kuFR3 {
    background-color: var(--aboutBg);
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ServiceC_cardCont__IuHlg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.ServiceC_cardBox__uUyZv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
position: relative;

}
.NewServiceCard_headerCard__438DV {
    border-radius: 10px;
    position: relative;
    width: 470px;
    height: 360px;
    overflow: hidden;
    background-color: var(--serviceCard);
    transition: .3s;
}
.NewServiceCard_headingCont__QkfmB {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.NewServiceCard_number__FPZAO:first-child {
    margin-left: 40px;
}

.NewServiceCard_number__FPZAO {
    flex-shrink: 0;
    color: #707070;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.2px;
    opacity: .2;
    transition: .3s;
}

.NewServiceCard_cardHead__JPzMC {
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: -20px;
margin-top: 35px;
transition: .3s;
border: none;
color: rgb(1, 201, 155);
}
.NewServiceCard_cardBody__d0fwE {
    width: 80%;
    color: #8a8a8a;
    margin: 25px auto 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.4px;
}
.NewAboutSec_aboutContent__GaAFw:hover {
    transform: scale(1.05);
}

.Research_main_container4__YD6XU {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: #000;
}
.Research_headingCont__uTuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.Research_heading__dpski {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.9px;
    text-transform: uppercase;
    margin: 0;
}
.Research_underline__Tm2On {
    width: 75px;
    height: 4px;
    border-radius: 1000px;
    background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
}
.Research_subHead__jOEBX {
    color: #fff;
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 65%;
    margin-bottom: 2rem;
}
.Research_main_container4__YD6XU {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: #000;
}
.ResearcherCard_reCard__l_YbD {
    padding: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.ResearcherCard_pic__FExyx {
    overflow: hidden;
}
.ResearcherCard_pic__FExyx img {
    width: 280px;
    height: 350px;
    object-fit: cover;
    transition: transform .5s ease;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ResearcherCard_content__PC1Dd {
    background-color: #fff;
    color: #000;
    height: 6.5rem;
    text-align: center;
    border-radius: 10px;
}
.ResearcherCard_head__WJgXu {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.2rem 1.2rem 0;
    line-height: 1.2rem;
}
.ResearcherCard_body__UoSLF {
    opacity: .5;
    padding: 1rem;
}
.Research_sub_container_mini4__887Hc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}